---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import avatar from '../images/avatar.jpg';
import aat_header from '../images/aat_header.jpg';
import made_with_unity from '../images/U_Logo_MadeWith_RichBlack_RGB.webp';

---

<Layout title="Lospi">
  <main class="h-screen flex flex-col items-center justify-center bg-gray-800">
    <section class="text-center">
      <div class="mb-8">
        <Image src={avatar} alt="A avatar" class="mx-auto rounded-full border-solid border-sky-900 border-4 w-60"/>
        <h1 class="text-4xl font-bold">Lospi</h1>
        <p class="text-lg">Roberto Mattos Mendes Camargo</p>
        <p class="text-lg">Software Engineer</p>
        <p class="text-lg">Brazil</p>
      </div>
    </section>

    <section class="text-center">
      <div>
        <h1 class="text-2xl font-bold">My Games</h1>
        <div>
          <a href="https://store.steampowered.com/app/1298820/Ad_Agency_Tycoon/" target="_blank" rel="noopener noreferrer">
            <Image src={aat_header} alt="Ad Agency Tycoon" class="mx-auto border-solid border-white w-60"/>
          </a>
          <a href="https://store.steampowered.com/app/1298820/Ad_Agency_Tycoon/" target="_blank" rel="noopener noreferrer">
            <h1 class="text-xl font-bold">Ad Agency Tycoon</h1>
          </a>
          <p class="text-lg">A business management game where you can create your own advertising agency.</p>
          <div class="flex flex-row mx-auto">
            <span><Image src={made_with_unity} alt="Made With Unity" class="mx-auto  w-60"/></span>
          </div>
      </div>
    </section>

    
  </main>
</Layout>
