---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Lospi">
  <iframe src="https://itch.io/embed-upload/9590703?color=333333" allowfullscreen="" width="1920" height="1100"><a href="https://lospi.itch.io/lospi-portfolio">Play Lospi Portfolio on itch.io</a></iframe>

</Layout> 
      